@font-face {
    font-family: "Accuratist";
    src: url("./font/Accuratist.otf") format("opentype");
}

:root {
    --var--text-color: #100F0F;
    --var--page-padding: 16px;
    --var--page-background: white;
    --var--block-margin: 64px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Accuratist';
    background-color: var(--var--page-background);
    color: var(--var--text-color);
    padding-bottom: var(--var--block-margin);
}

.hero {
    position: relative;
    height: 100vh;
    width: 100vw;    
}

.hero-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    bottom: 80px;
    left: var(--var--page-padding);
}

.hero-title {
    text-transform: uppercase;
    color: #FDFDFD;
    font-size: 48px;
    font-weight: 400;
}

.hero-text {
    margin-top: 12px;
    color: #FDFDFD;
    font-size: 16px;
    line-height: 24px;
}

.about {
    margin-top: var(--var--block-margin);
    padding: 0 var(--var--page-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-img {
    height: 120px;
    width: 120px;
}

.about-text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.students {
    margin-top: var(--var--block-margin);
}

.students-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.courses {
    margin-top: var(--var--block-margin);
}

.coursesItem {}

.coursesItem-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.coursesItem-title h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
}

.coursesItem-title p {
    font-size: 24px;
}

.coursesItem-block {
    border-bottom: 1px solid #723B27;
    padding: 24px var(--var--page-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.withBorderTop {
    border-top: 1px solid #723B27;
}

.coursesItem-block-item {
    margin-top: 16px;
}

.coursesItem-block-item:first-child {
    margin-top: 0;
}

.coursesItem-block-title {
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;
}

.coursesItem-block-subTitle {
    font-size: 18px;
    line-height: 24px;
}

.coursesItem-block-text {
    font-size: 14px;
    line-height: 20px;
}

.coursesItem-block-price {
    margin-top: 16px;
    border: 1px solid #723B27;
    padding: 8px 16px;
}

.coursesItem-block-price-text {
    font-size: 16px;
}

.outro {
    margin-top: var(--var--block-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 var(--var--page-padding);
}

.outro-img  {
    height: 120px;
    width: 120px;
    margin-bottom: 16px;
}

.outro-text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.outro-hr {
    width: 50%;
    margin: 12px 0;
    background-color: #723B27;
}

.contacts {
    margin-top: var(--var--block-margin);
    padding: 0 var(--var--page-padding);
}

.contacts-title {
    font-size: 24px;
    text-align: center;
}

.contacts-item {
    display: block;
    border: 1px solid #723B27;
    font-size: 20px;
    padding: 16px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #100F0F;
    transition: .3s;
}

.contacts-item:hover {
    background-color: #723B27;
    color: #FDFDFD;
}